
body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
 }
 
 .bck_black {
  background: #2d2d2d;
}
.bck_white {
  background: #ffffff;
}
.bck_red {
  background: #ff4800;
}
.bck_yellow {
  background: #ffa800;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin:0 auto;
}

/*====================
        HEADER
======================*/


header {
  padding:10px 0px;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_venue {
  font-size: 40px;
}
.logo {
 /* margin-left: 100px; */
  /* color: rgb(169, 147, 147);
  line-height: 100px; 
  padding: 20px;
  max-width: 50px;
  white-space: nowrap; */
  transition: all 300ms ease-in-out;
}

.appBar {
  transition: all 300ms ease-in-out;

}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}


/*====================
        CARROUSEL
======================*/
.carrousel_wrapper {
  height:700px;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}

.artist_name {
  position: absolute;
  font-size: 70px;
  font-weight: 800;
  color: white;
  top: 50%;
  left: 50%;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);   
}

.main_btn {
  position: absolute;
  font-size: 70px;
  color: white;
  top: 76%;
  left: 50%;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);   
}

.bottom_header {
  position: absolute;
  font-size: 70px;
  color: white;
  top: 0%;
  left: 50%;
  height: 160px;
  /* -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);    */
}

.bottom_holder {
  position: absolute; 
}


/*====================
        Features
======================*/

.highlight_wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  color:#2c2c2c;
  font-size: 52px;
}

.highlight_wrapper .highlight_description {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0px;
}

.discount_wrapper {
  display: flex;
  padding: 70px 0px;
}

.discount_wrapper .discount_porcentage {
  padding-right: 100px;
}

.discount_wrapper .discount_porcentage span:nth-child(1) {
  color: #ff4800;
  font-size: 125px;
  font-weight: 400;
  display: block;
  line-height: 120px;
}

.discount_wrapper .discount_porcentage span:nth-child(2) {
  color: #2c2c2c;
  font-size: 50px;
  font-weight: 400;
  display: block;
}


.discount_wrapper .discount_description h3 {
  font-size: 34px;
  font-weight: 100;
  margin: 0px;
  color: #2c2c2c;
}

.discount_wrapper .discount_description p { 
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

.center_wrapper {
  width: 900px;
  margin:0 auto;
}

.extra-bottom-padding {
  margin-bottom: 100px;
}

.extra-padding {
  padding: 200px;
}

.extra-padding-little {
  padding: 50px;
}



/*====================
        about us
======================*/

.container {
  position: relative;
  transition: all 0.2s ease;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  transition: all 0.2s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffa800;
  transition: all 0.2s ease;
}

.container:hover .overlay {
  opacity: .35;
}
.container:hover .image, .overlay{
  transform: scale(1.05);
}
.

/* .about-us-img {
  
}

.card {
  transition: all .15s linear;
  position: relative;
}

.card:hover{
  transform: scale(1.1);
  background-color: red;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.50);
} */

.cardMedia {
  padding-top: 56.25%,
}
/*====================
        Footer
======================*/
.footer_logo{
  font-size: 16px;
  font-weight: 800;
}

.crazy_drop_shadow {
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}






/*====================
      Growing Divs
======================*/


.growerDiv {
  height: 3px;
  width: 80px;
  right: 0;
  float:right;
  margin-right: 0 auto;
  background-color: black;
  /* animation: line 1s linear forwards; */
}

@keyframes line {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}


/*====================
      Award List
======================*/
.list-container {
  margin-top: 8px;
}

.text-rule {
  border-top:1px solid black;
  text-align: center;
  padding-top: 5px;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
}

.text-rule-bottom {
    border-bottom:1px solid black;
}

.list {
 margin-top: -10px
}



/*====================
      FADEIN
======================*/
